@charset "utf-8";
/* CSS Document */

        body {
            padding-top: 56px; 
        }

        @media (min-width: 768px) {

            body {
                padding-top: 72px;
            }
        }

        footer {
            background-color: #343a40;
            color: white;
            padding: 20px 0;
        }
 